body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-family: 'Exo 2', sans-serif;;
	background-color: #4c4c4c;
	color: #ff8800;
}

#imageDiv {
	margin-top: 30px;
}